bin
build
distributions
.classpath
.gradle
.project
.settings
.springBeans
*.class
*.MF
out

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea
**/.ideaDataSources/
/dataSources/
.shelf

#log  files
*.log


